.page {
  background-color: rgb(233, 173, 10);
}

.list {
  display: flex;
  list-style:none;
  margin:0;
  padding:0;
  flex-wrap: wrap;
}

.series {
  border: 4px double rgb(7, 14, 7);
  flex: 1 1;
  flex-wrap: wrap;
  background: rgb(233, 173, 10);
  color:rgb(4, 8, 8);
  display:flex;
}

.parent {
  background-color: aqua;
  width: 500px;
  height: 500px;
  padding: 20px;
}

.parent > span:nth-child(1) {
  font-size: 48px;
  font-weight: 400;
}

.list li img {
  width: 305px;
  height: 150px;
}

.list li br ~ img {
  width: 90px;
  height: 60px;
  border: 4px double;
}
