*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;

    font-family: sans-serif;
    background: #2D2D2D;

    color: #2d2d2d;
}

.lesson {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.lesson__inner {
    padding: 10px;

    height: 90vh;
    width: 1200px;

    display: flex;
    flex-direction: column;

    background: #fff;
    border-radius: 20px;
}

.lesson__title {
    margin-bottom: 40px;

    font-size: 48px;
    text-align: center;
}

.lesson__info {
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.lesson__item {
    width: 150px;
    height: 150px;

    border: 1px solid transparent;
}

.lesson__item--red {
    width: 100%;
    background-color: #da5555;
}

.lesson__item--blue {
    background-color: #277ece;
}

.lesson__item--green {
    background-color: #66cc68;
}

.lesson__item--transparent {
    border-color: #933dbe;
}
